.form {
    width: 90%;
    max-width: 35rem;
    padding: 3rem 2rem;
    font-size: 115%;
    margin:auto;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items:center;
}

.form label {
    display: inline;
    font-weight: bold;
}

.form input {
    width:20rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 1.5rem;
}

.form input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
  }

.actions {
    text-align: center;
}

.actions button {
    background-color: #741188;;
    color:white;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 20px;
    border-color: #741188;;
    font-size: 100%;
}

.actions button:active,
.actions button:hover {
    background-color: rgb(180, 125, 231);
    border-color: rgb(180, 125, 231);
    color:white;
}

.inputs.invalid input {
    background-color: rgb(245, 186, 198);
    border-color: crimson;
}

.actions button:disabled,
.actions button:focus:disabled,
.actions button:hover:disabled,
.actions button:active:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color:rgb(122, 117, 117);
    cursor: not-allowed;

}