.header {
    background-color: #741188;
    color:white;
    /*height:8rem;*/
    width:100%;
    /*margin-top: 0;*/
    margin-left: 0;
    padding: 2px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}